@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);
html {
  background-color: #747677;
  font-family: "Tenor Sans", sans-serif;
}

.container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

#header {
  haight: 20px;
  margin: 0 auto;
}

.login {
  margin-top: 50px;
  width: 550px;
}

.login-heading {
  font: 1.8em/48px "Tenor Sans", sans-serif;
  color: white;
}

.input-txt {
  border-radius: 5px;
  color: #81aac9;
  width: 100%;
  padding: 20px 10px;
  background: #424547;
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px solid rgba(250, 250, 250, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
  color: #81aac9;
}
.input-txt:-ms-input-placeholder {
  color: #81aac9;
}
.input-txt::-webkit-input-placeholder {
  color: #81aac9;
}
.input-txt:focus {
  background-color: #8b935e;
}

.login-footer {
  margin: 10px 0;
  overlow: hidden;
  float: left;
  width: 100%;
}

.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background: #9eb218;
  font-weight: bold;
  color: white;
}
.btn:hover {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  background: #e6ea9a;
 }

.btn--right {
  float: right;
}

.icon {
  display: inline-block;
}

.icon--min {
  font-size: .9em;
}

.lnk {
  font-size: 1em;
  line-height: 3em;
  color: #bbcc5d;
  text-decoration: none;
}

.lnk:hover {
  font-size: 1em;
  line-height: 3em;
  color: yellow;
  text-decoration: none;
}

.comm {
  font-size: 1.5em;
  line-height: 3em;
  color: #9eb218;
  text-decoration: none;
}
.pageText {
  font-size: 1em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}

.pageTextH {
  font-size: 1em;
  line-height: 3em;
  color: #8ad88e;
  text-decoration: none;
}

.err {
  font-size: 1.5em;
  line-height: 3em;
  color: #ff9102;
  text-decoration: none;
}

.info {
  font-size: 2em;
  line-height: 3em;
  color: #65d4ed;
  text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #8ad88e;
    text-align: center;
	font-weight: bold;
    padding: 12px 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
	color: white;
	font-weight: bold;
    background-color: #9eb218;
}

.active {
    background-color: #4CAF50;
}
